@page "/catalog"
@inherits EShopBasePage

<PageTitle>Catalog</PageTitle>

<MRow>
    <MCol Xs="5" Sm="3" Md="2">
        <MSelect Label="Brand"
                 @bind-Value="_catalogOptinsModel.Brand"
                 Dense
                 Outlined
                 Items="@_brands"
                 ItemText="b=> b.Brand"
                 ItemValue="b => b.Id">
        </MSelect>
    </MCol>
    <MCol Xs="5" Sm="3" Md="2">
        <MSelect Label="Type"
                 @bind-Value="_catalogOptinsModel.Type"
                 Dense
                 Outlined
                 Items="@_types"
                 ItemText="u => u.Type"
                 ItemValue="u => u.Id">
        </MSelect>
    </MCol>
    <MCol Xs="5" Sm="3" Md="2">
        <MButton Class="ma-2"
                 Color="indigo"
                 Dark
                 OnClick="LoadItemsAsync">
            <MIcon Dark>mdi-chevron-right</MIcon>
        </MButton>
    </MCol>
</MRow>

<MRow>
    <MCol Md="2">
        <Mheader>Hangout notifications</Mheader>
        <MRadioGroup @bind-Value="_catalogOptinsModel.Brand">
            @foreach(var brand in _brands)
            {
                <MRadio @key="brand.Id"
                    Label="@brand.Brand"
                    Value="@brand.Id"></MRadio>
            }
        </MRadioGroup>

        <Mheader>Hangout notifications</Mheader>
        <MRadioGroup @bind-Value="_catalogOptinsModel.Type">
            @foreach(var type in _types)
            {
                <MRadio @key="type.Id"
                    Label="@type.Type"
                    Value="@type.Id"></MRadio>
            }
        </MRadioGroup>
    </MCol>
    <MCol>
        <MContainer>
            @if (_catalogViewModel.Count > 0)
            {
                <MRow>
                    @foreach (var item in _catalogViewModel.Items)
                    {
                        <MCol Md="4" style="display:flex;flex-flow: column;align-items:center;">
                            <MCard>
                                <MCardText>
                                    <MListItem>
                                        <MRow>
                                            <MCol Class="d-flex flex-column justify-center align-center">
                                                <img class="card-img" src="@item.GetPictureUrl(Settings.Value.ResourceUrlExternal)" />
                                            </MCol>
                                        </MRow>
                                    </MListItem>
                                    <MListItem>
                                        <MRow Justify="JustifyTypes.SpaceBetween">
                                            <MCol Cols="@("auto")">
                                                <MRating Value="3" Readonly BackgroundColor="orange lighten-3" Color="orange"></MRating>
                                            </MCol>
                                            <MCol Align="AlignTypes.Center" Cols="@("auto")">
                                                <span><span> $ </span> @item.Price</span>
                                            </MCol>
                                        </MRow>
                                    </MListItem>
                                    <MListItem TwoLine>
                                        <MListItemContent>
                                            <MListItemTitle class="headline">
                                                @item.Name
                                            </MListItemTitle>
                                            <MListItemTitle>On Retina display that never sleeps, so it’s easy to see the ti</MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>
                                </MCardText>
                                <MCardActions>
                                    <MButton Block Color="success" OnClick="(e)=>AddToCart(item)" Disabled="@(!IsAuthenticated)">
                                        <MIcon Left>mdi-cart</MIcon>
                                        ADD TO CART
                                    </MButton>
                                </MCardActions>
                            </MCard>
                        </MCol>
                    }
                </MRow>
                <MPagination class="mt-6" Length="_catalogViewModel.PageCount" Value="_catalogViewModel.PageIndex" ValueChanged="(v)=>OnPageIndexChangedAsync(v)" @bind-TotalVisible="_catalogViewModel.PageSize"></MPagination>
            }
            else
            {
                <h2>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</h2>
            }
        </MContainer>
    </MCol>
</MRow>


