@page "/login"
@inherits EShopPageBase

<PageTitle>@T("Login.Login")</PageTitle>

<MContainer>
    <MRow Justify="JustifyTypes.Center" Align="AlignTypes.Center">
        <MCol Md="@("auto")" class="d-flex align-center flex-column mt-12">
            <MImage Width="400" src="https://picsum.photos/id/11/500/300" />
            <MCard class="mt-5 pt-0" Width="550">
                <MTabs @bind-Value="_loginTabIndex" Centered>
                    <MTab Value="0">
                        @T("Login.PWDLogin")
                    </MTab>

                    <MTab Value="1">
                        @T("Login.SMSLogin")
                    </MTab>
                </MTabs>
                <MTabsItems @bind-Value="_loginTabIndex">
                    <MTabItem Value="0">
                        <MCardText>
                            <MTextField class="input-group--focused mr-2" Label="@T("Login.UserName")" @bind-Value="_userName"></MTextField>
                            <MTextField class="input-group--focused mr-2"
                                        Label="@T("Login.Password")" @bind-Value="_password"
                                        AppendIcon="@(_showPwd ? "mdi-eye" : "mdi-eye-off")"
                                        Type="@(_showPwd ? "text" : "password")"
                                        Hint="At least 8 characters"
                                        Counter="true"
                                        OnAppendClick="() => _showPwd = !_showPwd"></MTextField>
                            <MButton Small Text class="float-right" OnClick="()=>{ _forgetPwdDialog = true; }">@T("Login.ForgetPassword")</MButton>
                        </MCardText>
                    </MTabItem>
                    <MTabItem Value="1">
                        <MCardText>
                            <MTextField TValue="string" class="input-group--focused mr-2" Label="@T("Login.Phone")" Placeholder="@T("Login.PhoneHolder")"></MTextField>
                            <MTextField Label="@T("Login.Code")" Placeholder="@T("Login.CodeHolder")" TValue="string">
                                <AppendContent>
                                    <MButton Outlined>
                                        @T("Login.GetCode")
                                    </MButton>
                                </AppendContent>
                            </MTextField>
                        </MCardText>
                    </MTabItem>
                </MTabsItems>
                <MCardActions>
                    <MRow NoGutters>
                        <MCol Md="12">
                            <MButton Color="primary" Block OnClick="LoginHandler">@T("Login.Login")</MButton>
                        </MCol>
                        <MCol Md="12" class="text-right">
                            <MButton Small Text OnClick="()=>{ _registerDialog = true; }">@T("Login.ToRegister")</MButton>
                        </MCol>
                    </MRow>
                </MCardActions>
            </MCard>
        </MCol>
    </MRow>
</MContainer>

<MDialog @bind-Value="_forgetPwdDialog" Persistent Width="500">
    <ChildContent>
        <MCard>
            <MCardText>
                <MTabs @bind-Value="_forgetPwdTabIndex" Centered>
                    <MTab Value="0">
                        @T("Login.SMSRetrieve")
                    </MTab>

                    <MTab Value="1">
                        @T("Login.EmailRetrieve")
                    </MTab>
                </MTabs>
                <MTabsItems @bind-Value="_forgetPwdTabIndex">
                    <MTabItem Value="0">
                        <MCard Flat>
                            <MCardText>
                                <MRow NoGutters>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Login.Phone")" Placeholder="@T("Login.PhoneHolder")" TValue="string"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Login.Code")" Placeholder="@T("Login.CodeHolder")" TValue="string">
                                            <AppendContent>
                                                <MButton Outlined>
                                                    @T("Login.GetCode")
                                                </MButton>
                                            </AppendContent>
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            </MCardText>
                        </MCard>
                    </MTabItem>
                    <MTabItem Value="1">
                        <MCard Flat>
                            <MCardText>
                                <MRow>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Login.Email")" Placeholder="@T("Login.EmailHolder")" TValue="string"></MTextField>
                                    </MCol>
                                </MRow>
                            </MCardText>
                        </MCard>
                    </MTabItem>
                </MTabsItems>
            </MCardText>
            <MCardActions>
                <MButton Color="primary" Block OnClick="() => _forgetPwdDialog = false">
                    @T("Base.Sure")
                </MButton>
            </MCardActions>
        </MCard>
    </ChildContent>
</MDialog>

<MDialog @bind-Value="_registerDialog" Persistent Width="660">
    <ChildContent>
        <MCard>
            <MCardTitle>
                <span class="text-h5">@T("Login.WelcomeRegister")</span>
            </MCardTitle>
            <MCardSubtitle>
                @T("Login.LoginNow")
            </MCardSubtitle>
            <MCardText>
                <MTabs @bind-Value="_registerTabIndex" Centered>
                    <MTab Value="0">
                        @T("Login.SMSRegister")
                    </MTab>
                    <MTab Value="1">
                        @T("Login.EmailRegister")
                    </MTab>
                </MTabs>

                <MTabsItems @bind-Value="_registerTabIndex">
                    <MTabItem Value="0">
                        <MCard Flat>
                            <MCardText>
                                <MRow NoGutters>
                                    <MCol Cols="12">
                                        <MTextField Placeholder="@T("Login.PhoneHolder")" TValue="string" PrependIcon="mdi-phone"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField TValue="string" Placeholder="@T("Login.RegisterPassword")" PrependIcon="mdi-lock" Type="password" Hint="At least 8 characters" Counter="true"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField TValue="string" Placeholder="@T("Login.ConfirmRegisterPassword")" PrependIcon="mdi-lock" Type="password" Hint="At least 8 characters" Counter="true"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Login.Code")" Placeholder="@T("Login.CodeHolder")" TValue="string">
                                            <AppendContent>
                                                <MButton Outlined>
                                                    @T("Login.GetCode")
                                                </MButton>
                                            </AppendContent>
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            </MCardText>
                        </MCard>
                    </MTabItem>
                    <MTabItem Value="1">
                        <MCard Flat>
                            <MCardText>
                                <MRow NoGutters>
                                    <MCol Cols="12">
                                        <MTextField Placeholder="@T("Login.EmailHolder")" TValue="string" PrependIcon="mdi-email"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField TValue="string" Placeholder="@T("Login.RegisterPassword")" PrependIcon="mdi-lock" Type="password" Hint="At least 8 characters" Counter="true"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField TValue="string" Placeholder="@T("Login.ConfirmRegisterPassword")" PrependIcon="mdi-lock" Type="password" Hint="At least 8 characters" Counter="true"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Login.Code")" Placeholder="@T("Login.CodeHolder")" TValue="string">
                                            <AppendContent>
                                                <MImage Width="100" Height="33" Src="./img/code/CheckCode.jpg" />
                                            </AppendContent>
                                            <AppendOuterContent>
                                                <MButton Outlined>
                                                    @T("Login.ChangeCode")
                                                </MButton>
                                            </AppendOuterContent>
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            </MCardText>
                        </MCard>
                    </MTabItem>
                </MTabsItems>
            </MCardText>
            <MCardActions>
                <MRow NoGutters>
                    <MCol Md="12">
                        <MCheckbox>
                            <LabelContent>
                                @T("Login.AgreementMsg")<a target="_blank" href="/">《@T("Login.Agreement")》</a>
                            </LabelContent>
                        </MCheckbox>
                    </MCol>
                    <MCol Md="12">
                        <MButton Color="primary" Block OnClick="() => _registerDialog = false">
                            @T("Login.Register")
                        </MButton>
                    </MCol>
                </MRow>
            </MCardActions>
        </MCard>
    </ChildContent>
</MDialog>