@page "/login"
@inherits EShopPageBase

<PageTitle>@T("Login")</PageTitle>

<MContainer class="justify-center align-center">
    <MRow Justify="JustifyTypes.Center" Align="AlignTypes.Center">
        <MCol Md="@("auto")" class="text-center">
            <img style="width:400px;" src="https://picsum.photos/id/11/500/300" />
            <MCard class="mt-5 pt-0" Width="550">
                <MTabs @bind-Value="_loginTabIndex"
                       Centered>
                    <MTab Value="0">
                        @T("PWDLogin")
                    </MTab>

                    <MTab Value="1">
                        @T("SMSLogin")
                    </MTab>
                </MTabs>
                <MTabsItems Value="_loginTabIndex">
                    <MTabItem Value="0">
                        <MCardText>
                            <MTextField class="input-group--focused mr-2" Label="@T("UserName")" @bind-Value="_userName"></MTextField>
                            <MTextField class="input-group--focused mr-2"
                                        Label="@T("Password")" @bind-Value="_password"
                                        AppendIcon="@(_showPwd ? "mdi-eye" : "mdi-eye-off")"
                                        Type="@(_showPwd ? "text" : "password")"
                                        Hint="At least 8 characters"
                                        Counter="true"
                                        OnAppendClick="() => _showPwd = !_showPwd"></MTextField>
                            <MButton Small Text class="float-right" OnClick="()=>{ _forgetPwdDialog = true; }">@T("ForgetPassword")</MButton>
                        </MCardText>
                    </MTabItem>
                    <MTabItem Value="1">
                        <MCardText>
                            <MTextField TValue="string" class="input-group--focused mr-2" Label="@T("Phone")" Placeholder="@T("PhoneHolder")"></MTextField>
                            <MTextField Label="@T("Code")" Placeholder="@T("CodeHolder")" TValue="string">
                                <AppendContent>
                                    <MButton Outlined>
                                        @T("GetCode")
                                    </MButton>
                                </AppendContent>
                            </MTextField>
                        </MCardText>
                    </MTabItem>
                </MTabsItems>
                <MCardActions>
                    <MRow NoGutters>
                        <MCol Md="12">
                            <MButton Color="primary" Block OnClick="LoginHandler">@T("Login")</MButton>
                        </MCol>
                        <MCol Md="12" class="text-right">
                            <MButton Small Text OnClick="()=>{ _registerDialog = true; }">@T("ToRegister")</MButton>
                        </MCol>
                    </MRow>
                </MCardActions>
            </MCard>
        </MCol>
    </MRow>
</MContainer>


<MDialog @bind-Value="_forgetPwdDialog"
         Persistent Width="500">
    <ChildContent>
        <MCard>
            <MCardText>
                <MTabs @bind-Value="_forgetPwdTabIndex"
                       Centered>
                    <MTab Value="0">
                        @T("SMSRetrieve")
                    </MTab>

                    <MTab Value="1">
                        @T("EmailRetrieve")
                    </MTab>
                </MTabs>
                <MTabsItems Value="_forgetPwdTabIndex">
                    <MTabItem Value="0">
                        <MCard Flat>
                            <MCardText>
                                <MRow NoGutters>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Phone")" Placeholder="@T("PhoneHolder")" TValue="string"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Code")" Placeholder="@T("CodeHolder")" TValue="string">
                                            <AppendContent>
                                                <MButton Outlined>
                                                    @T("GetCode")
                                                </MButton>
                                            </AppendContent>
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            </MCardText>
                        </MCard>
                    </MTabItem>
                    <MTabItem Value="1">
                        <MCard Flat>
                            <MCardText>
                                <MRow>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Email")" Placeholder="@T("EmailHolder")" TValue="string"></MTextField>
                                    </MCol>
                                </MRow>
                            </MCardText>
                        </MCard>
                    </MTabItem>
                </MTabsItems>
            </MCardText>
            <MCardActions>
                <MButton Color="primary" Block OnClick="() => _forgetPwdDialog = false">
                    @T("Sure","Base")
                </MButton>
            </MCardActions>
        </MCard>
    </ChildContent>
</MDialog>

<MDialog @bind-Value="_registerDialog"
         Persistent
         Width="660">
    <ChildContent>
        <MCard>
            <MCardTitle>
                <span class="text-h5">@T("WelcomeRegister")</span>
            </MCardTitle>
            <MCardSubtitle>
                @T("LoginNow")
            </MCardSubtitle>
            <MCardText>
                <MTabs @bind-Value="_registerTabIndex" Centered>
                    <MTab Value="0">
                        @T("SMSRegister")
                    </MTab>
                    <MTab Value="1">
                        @T("EmailRegister")
                    </MTab>
                </MTabs>

                <MTabsItems Value="_registerTabIndex">
                    <MTabItem Value="0">
                        <MCard Flat>
                            <MCardText>
                                <MRow NoGutters>
                                    <MCol Cols="12">
                                        <MTextField Placeholder="@T("PhoneHolder")" TValue="string" PrependIcon="mdi-phone"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField TValue="string" Placeholder="@T("RegisterPassword")" PrependIcon="mdi-lock" Type="password" Hint="At least 8 characters" Counter="true"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField TValue="string" Placeholder="@T("ConfirmRegisterPassword")" PrependIcon="mdi-lock" Type="password" Hint="At least 8 characters" Counter="true"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Code")" Placeholder="@T("CodeHolder")" TValue="string">
                                            <AppendContent>
                                                <MButton Outlined>
                                                    @T("GetCode")
                                                </MButton>
                                            </AppendContent>
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            </MCardText>
                        </MCard>
                    </MTabItem>
                    <MTabItem Value="1">
                        <MCard Flat>
                            <MCardText>
                                <MRow NoGutters>
                                    <MCol Cols="12">
                                        <MTextField Placeholder="@T("EmailHolder")" TValue="string" PrependIcon="mdi-email"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField TValue="string" Placeholder="@T("RegisterPassword")" PrependIcon="mdi-lock" Type="password" Hint="At least 8 characters" Counter="true"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField TValue="string" Placeholder="@T("ConfirmRegisterPassword")" PrependIcon="mdi-lock" Type="password" Hint="At least 8 characters" Counter="true"></MTextField>
                                    </MCol>
                                    <MCol Cols="12">
                                        <MTextField Label="@T("Code")" Placeholder="@T("CodeHolder")" TValue="string">
                                            <AppendContent>
                                                <MImage Width="100" Height="33" Src="./img/code/CheckCode.jpg" />
                                            </AppendContent>
                                            <AppendOuterContent>
                                                <MButton Outlined>
                                                    @T("ChangeCode")
                                                </MButton>
                                            </AppendOuterContent>
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            </MCardText>
                        </MCard>
                    </MTabItem>
                </MTabsItems>
            </MCardText>
            <MCardActions>
                <MRow NoGutters>
                    <MCol Md="12">
                        <MCheckbox>
                            <LabelContent>
                                @T("AgreementMsg")<a target="_blank" href="/">《@T("Agreement")》</a>
                            </LabelContent>
                        </MCheckbox>
                    </MCol>
                    <MCol Md="12">
                        <MButton Color="primary" Block OnClick="() => _registerDialog = false">
                            @T("Register")
                        </MButton>
                    </MCol>
                </MRow>
            </MCardActions>
        </MCard>
    </ChildContent>
</MDialog>