@page "/login"
@inherits EShopPageBase

<PageTitle>@T("Login")</PageTitle>

<MContainer class="justify-center align-center">
    <MRow Justify="JustifyTypes.Center">
        <MCol Md="5">
            <MCard class="mt-0 pt-0">
                <MCardTitle class="blue darken-1">
                    <h4 style="color:white">@T("LoginMessage")</h4>
                </MCardTitle>
                <MCardText class="mt-10">
                    <MTextField class="input-group--focused mr-2"
                                Label="@T("UserName")" @bind-Value="_userName"></MTextField>
                    <MTextField class="input-group--focused mr-2"
                                Label="@T("Password")" @bind-Value="_password"></MTextField>
                    <MButton class="pink--text" Block OnClick="LoginHandler">@T("Login")</MButton>
                </MCardText>
            </MCard>
        </MCol>
    </MRow>
</MContainer>


