@page "/orders"
@inherits EShopPageBase
@implements IAsyncDisposable

<PageTitle>Orders</PageTitle>

<MContainer>
    <h2>My Order History</h2>
    <MTable TItem="OrderSummary" Headers="_headers" Loading="_loading" Items="_orders">
        <MTableCol >
            @context.OrderNumber
        </MTableCol>
        <MTableCol>
            @context.Date
        </MTableCol>
        <MTableCol>
            @context.Total
        </MTableCol>
        <MTableCol>
            @context.Status
        </MTableCol>
        <MTableCol>
            @if (context.Status == "Submitted")
            {
                <MButton Color="primary" Text OnClick="()=>CancelOrder(context.OrderNumber)">Cancel</MButton>
            }
            else
            {
                <span>@context.Status</span>
            }
            <MButton Color="primary" Text Click='()=>Navigation($"/order/details/{context.OrderNumber}")'>Detail</MButton>
        </MTableCol>
    </MTable>
</MContainer>
