@page "/basket"
@inherits EShopPageBase

<PageTitle>Basket</PageTitle>

<div class="head-bread">
    <h2 class="auto-width">@T("Checkout")</h2>
    <MDivider Vertical />
    <MBreadcrumbs Large class="auto-width">
        <MBreadcrumbsItem Disabled="false" Href="/catalog">
            <MIcon Large class='head-bread-icon'>mdi-home</MIcon>
        </MBreadcrumbsItem>
        <MBreadcrumbsItem Text="@T("Checkout")"></MBreadcrumbsItem>
    </MBreadcrumbs>
</div>

<MBreadcrumbs Items="breadItems" Large>
    <ItemContent>
        <MBreadcrumbsItem Href="@context.Href" Disabled="context.Disabled">
            <MIcon Large Left>@(((MyBreadcrumbItem)context).Icon)</MIcon>
            @context.Text
        </MBreadcrumbsItem>
    </ItemContent>
    <DividerContent>
        <MIcon>mdi-chevron-right</MIcon>
    </DividerContent>
</MBreadcrumbs>

<MRow>
    <MCol Md="8">
        <MContainer>
            <MRow>
                @foreach (var item in _userBasket.Items)
                {

                    <MCol Md="12" class="mb-5">
                        <MHover>
                            <MCard @attributes="context.Attrs" Class="@($"{context.Class} {(context.Hover ? "on-hover" : "")}")" Elevation="@(context.Hover ? 12 : 2)">
                                <MRow>
                                    <MCol Md="3" Align="AlignTypes.Center" Class="pa-6 d-flex flex-column align-center">
                                        <img src="@item.GetPictureUrl()" style="width:100%;height:auto;max-height:200px;" />
                                    </MCol>
                                    <MCol Md="6" Align="AlignTypes.Center" Class="pa-6 d-flex flex-column">
                                        <h6 class="mb-0">@item.ProductName</h6>
                                        <div style="margin: 0.3rem 0 0.5rem;font-weight: 400;font-size: .875rem;">
                                            By <span style="margin-left: 0.25rem;color: #7367f0;">Microsoft</span>
                                        </div>
                                        <MRating style="margin-left: -10px;" Value="4" Readonly BackgroundColor="orange lighten-3" Color="orange" Small></MRating>
                                        <span style="margin-bottom: 1rem!important;color: #28c76f;">@T("InStock")</span>
                                        <div>Qty:@item.Quantity</div>
                                        <span style="color: #b9b9c3;margin-top: 1.2rem;margin-bottom: 0.25rem;">
                                            Delivery by Thu, Oct 28
                                        </span>
                                        <div style="color:#28c76f">
                                            3% off 1 offers Available
                                        </div>
                                    </MCol>
                                    <MDivider Vertical />
                                    <MCol Md="3" Align="AlignTypes.Center" Class="pa-6 d-flex flex-column align-center">
                                        <h4 style="color: #7367f0;margin-bottom: 0;font-size: 1.286rem;">@item.GetFormattedTotalPrice()</h4>
                                        <p style="margin-top: 0.75rem;line-height: 1.5rem;">
                                            <span class="pa-1" style="font-size: 85%;color: #28c76f;background-color: rgba(40,199,111,.12);border-radius: 10rem;">
                                                @T("FreeShip")
                                            </span>
                                        </p>
                                        <MButton Block Depressed class="mt-2" OnClick="()=>RemoveItemAsync(item.ProductId)">
                                            <MIcon Left>mdi-close</MIcon>
                                            @T("Remove")
                                        </MButton>
                                    </MCol>
                                </MRow>
                            </MCard>
                        </MHover>
                    </MCol>
                }
            </MRow>
        </MContainer>
    </MCol>
    <MCol Md="4">
        <MCard>
            <MSubheader>@T("Options")</MSubheader>
            <MCardText class="pb-0">
                <MTextField TValue="string" class="coupons" Dense Label="@T("Coupons")" >
                    <AppendContent>
                        <span class="input-group-text text-primary cursor-pointer">@T("Apply")</span>
                    </AppendContent>
                </MTextField>
                <MDivider></MDivider>
                <MListItem>
                    <MListItemTitle class="title">
                        @T("PriceDetails")
                    </MListItemTitle>
                </MListItem>
                <MList Dense>
                    <MListItem>
                        <MListItemTitle>@T("TotalMRP")</MListItemTitle>
                        <MListItemTitle class="text-right"> $598 </MListItemTitle>
                    </MListItem>
                    <MListItem>
                        <MListItemTitle>@T("Discount")</MListItemTitle>
                        <MListItemTitle class="text-right"> -25$ </MListItemTitle>
                    </MListItem>
                    <MListItem>
                        <MListItemTitle>@T("EstimatedTax")</MListItemTitle>
                        <MListItemTitle class="text-right"> $1.3 </MListItemTitle>
                    </MListItem>
                    <MListItem>
                        <MListItemTitle>@T("EMI")</MListItemTitle>
                        <MListItemTitle class="text-right"> @T("Details") </MListItemTitle>
                    </MListItem>
                    <MListItem>
                        <MListItemTitle>@T("DeliveryCharges")</MListItemTitle>
                        <MListItemTitle class="text-right"> @T("Free") </MListItemTitle>
                    </MListItem>
                </MList>
                <MDivider></MDivider>
                <MListItem>
                    <MListItemTitle class="title"> @T("Total")</MListItemTitle>
                    <MListItemTitle class="text-right title"><span>$</span>@_userBasket.GetFormattedTotalPrice()</MListItemTitle>
                </MListItem>
            </MCardText>
            <MCardActions>
                <MButton Block class="primary" OnClick='()=>Navigation("basket/checkout")'>
                    @T("PlaceOrder")
                </MButton>
            </MCardActions>
        </MCard>
    </MCol>

</MRow>
