@page "/basket"
@inherits EShopBasePage

<PageTitle>Basket</PageTitle>

<MContainer>
    <MTable TItem="BasketItem" Headers="_headers" Loading="_loading" Items="_userBasket.Items">
        <MTableCol Width="150">
            <img src="@context.PictureUrl" height="100" width="150" />
        </MTableCol>
        <MTableCol>
            @context.ProductName
        </MTableCol>
        <MTableCol>
            @context.UnitPrice
        </MTableCol>
        <MTableCol>
            @context.Quantity
        </MTableCol>
        <MTableCol>
            @context.GetFormattedTotalPrice()
        </MTableCol>
    </MTable>
    <MRow Justify="JustifyTypes.End">
        <MCol Md="1" class="mr-3">
            <div>Total</div>
             <span>$</span>@_userBasket.GetFormattedTotalPrice()
            @*https://codepen.io/jairoerazo/pen/wvzYBVW*@
        </MCol>
    </MRow>
    <MRow>
        <MCol Md="3">
            <MButton Tile Color="success" OnClick='()=>Navigation("catalog")'>
                CONTINUE SHOPPING
            </MButton>
        </MCol>
        <MSpacer></MSpacer>
        <MCol Md="1">
            <MButton Tile Color="success" Disabled>
                UPDATE
            </MButton>
        </MCol>
        <MCol Md="1">
            <MButton Tile Color="success" OnClick='()=>Navigation("basket/checkout")'>
                CHECKOUT
            </MButton>
        </MCol>
    </MRow>
</MContainer>