@page "/basket/checkout"
@inherits EShopPageBase

<PageTitle>Basket Check Out</PageTitle>

<div class="head-bread">
    <h2 class="auto-width">@T("Basket.Checkout")</h2>
    <MDivider Vertical />
    <MBreadcrumbs Large class="auto-width" TItem="BreadcrumbItem">
        <MBreadcrumbsItem Href="/catalog">
            <MIcon Large class='head-bread-icon'>mdi-home</MIcon>
        </MBreadcrumbsItem>
        <MBreadcrumbsItem Text="@T("Basket.Checkout")"></MBreadcrumbsItem>
    </MBreadcrumbs>
</div>

<MStepper AltLabels>
    <MStepperHeader>
        <MStepperStep Step="1" Complete>
            Cart
        </MStepperStep>
        <MDivider></MDivider>
        <MStepperStep Step="2" Complete>
            Address
        </MStepperStep>
        <MDivider></MDivider>
        <MStepperStep Step="3">
            Payment
        </MStepperStep>
        <MDivider></MDivider>
        <MStepperStep Step="4">
            Completed
        </MStepperStep>
    </MStepperHeader>
</MStepper>

<MRow class="mt-2">
    <MCol Md="9">
        <MCard>
            <MCardTitle>
                @T("Basket.NewAddress")
            </MCardTitle>
            <MCardSubtitle>
                @T("Basket.NewAddressMsg")
            </MCardSubtitle>
            <MCardText>
                <MForm Model="_shipAddressFormModel" EnableDataAnnotationsValidation>
                    <MRow>
                        <MCol Md="6">
                            <MTextField @bind-Value="_shipAddressFormModel.Street"
                                        Label="@T("Basket.Address")"
                                        Placeholder="@T("Basket.Address")"
                                        Outlined
                                        Dense></MTextField>
                        </MCol>
                        <MCol Md="6">
                            <MTextField @bind-Value="_shipAddressFormModel.City"
                                        Label="@T("Basket.City")"
                                        Placeholder="@T("Basket.City")"
                                        Outlined
                                        Dense></MTextField>
                        </MCol>
                        <MCol Md="6">
                            <MTextField @bind-Value="_shipAddressFormModel.State"
                                        Label="@T("Basket.State")"
                                        Placeholder="@T("Basket.State")"
                                        Outlined
                                        Dense></MTextField>
                        </MCol>
                        <MCol Md="6">
                            <MTextField @bind-Value="_shipAddressFormModel.CardNumber"
                                        Label="@T("Basket.CardNumber")"
                                        Placeholder="000000000000000"
                                        Outlined
                                        Dense></MTextField>
                        </MCol>
                        <MCol Md="6">
                            <MTextField @bind-Value="_shipAddressFormModel.CardHolderName"
                                        Label="@T("Basket.CardName")"
                                        Placeholder="@T("Basket.CardName")"
                                        Outlined
                                        Dense></MTextField>
                        </MCol>
                        <MCol Md="6">
                            <MTextField @bind-Value="_shipAddressFormModel.CardExpiration"
                                        Label="@T("Basket.ExpirationDate")"
                                        Placeholder="MM/YY"
                                        Outlined
                                        Dense></MTextField>
                        </MCol>
                        <MCol Md="6">
                            <MTextField @bind-Value="_shipAddressFormModel.CardSecurityCode"
                                        Label="@T("Basket.SecurityCode")"
                                        Placeholder="000"
                                        Outlined
                                        Dense></MTextField>
                        </MCol>
                        <MCol Md="6">
                            <MTextField @bind-Value="_shipAddressFormModel.ZipCode"
                                        Label="@T("Basket.ZipCode")"
                                        Placeholder="@T("Basket.ZipCode")"
                                        Outlined
                                        Dense></MTextField>
                        </MCol>
                    </MRow>
                    <MRow>
                        <MCol Class="text-right">
                            <MButton class="primary" OnClick="()=>SubmitOrder(context)">
                                @T("Basket.SaveAndDeliver")
                            </MButton>
                        </MCol>
                    </MRow>
                </MForm>
            </MCardText>
        </MCard>
    </MCol>
    <MCol Md="3">
        <MCard>
            <MCardTitle>
                John Doe
            </MCardTitle>
            <MCardText>
                <p class="mt-1 mb-1">@_shipAddressViewModel.State @_shipAddressViewModel.Street</p>
                <p class="mt-1 mb-1">@_shipAddressViewModel.Country @_shipAddressViewModel.City</p>
                <p class="mt-2 mb-2">UTC-5: Eastern Standard Time (EST)</p>
                <p class="mt-1 mb-1">@_shipAddressViewModel.CardNumber</p>
            </MCardText>
            <MCardActions>
                <MButton class="primary" Block OnClick="SubmitShipedOrder">
                    @T("Basket.DeliverTo")
                </MButton>
            </MCardActions>
        </MCard>
    </MCol>
</MRow>

