@page "/basket/checkout"
@inherits EShopPageBase

<PageTitle>Basket Check Out</PageTitle>

<div class="head-bread">
    <h2 class="auto-width">@T("Checkout")</h2>
    <MDivider Vertical />
    <MBreadcrumbs Large class="auto-width">
        <MBreadcrumbsItem Disabled="false">
            <MIcon Large class='head-bread-icon'>mdi-home</MIcon>
        </MBreadcrumbsItem>
        <MBreadcrumbsItem Text="@T("Checkout")"></MBreadcrumbsItem>
    </MBreadcrumbs>
</div>

<MBreadcrumbs Large Divider=">">
    <MBreadcrumbsItem Href="/basket" Disabled="false">
        <MIcon Large Left>mdi-cart</MIcon>
        @T("Cart")
    </MBreadcrumbsItem>
    <MBreadcrumbsItem Href="" Disabled="false">
        <MIcon Large Left>mdi-domain</MIcon>
        @T("Address")
    </MBreadcrumbsItem>
</MBreadcrumbs>

<MContainer>
    <MForm Model="_shipAddressViewModel" EnableDataAnnotationsValidation>
        <h2 class="mb-4"> @T("ShippingAddress")</h2>
        <MRow>
            <MCol Md="6">
                <MTextField @bind-Value="_shipAddressViewModel.Street"
                            Label="@T("Address")"
                            Placeholder="@T("Address")"
                            Outlined
                            Dense></MTextField>
            </MCol>
            <MCol Md="6">
                <MTextField @bind-Value="_shipAddressViewModel.City"
                            Label="@T("City")"
                            Placeholder="@T("City")"
                            Outlined
                            Dense></MTextField>
            </MCol>
            <MCol Md="6">
                <MTextField @bind-Value="_shipAddressViewModel.State"
                            Label="@T("State")"
                            Placeholder="@T("State")"
                            Outlined
                            Dense></MTextField>
            </MCol>
            <MCol Md="6">
                <MTextField @bind-Value="_shipAddressViewModel.CardNumber"
                            Label="@T("CardNumber")"
                            Placeholder="000000000000000"
                            Outlined
                            Dense></MTextField>
            </MCol>
            <MCol Md="6">
                <MTextField @bind-Value="_shipAddressViewModel.CardHolderName"
                            Label="@T("CardName")"
                            Placeholder="@T("CardName")"
                            Outlined
                            Dense></MTextField>
            </MCol>
            <MCol Md="6">
                <MTextField @bind-Value="_shipAddressViewModel.CardExpiration"
                            Label="@T("ExpirationDate")"
                            Placeholder="MM/YY"
                            Outlined
                            Dense></MTextField>
            </MCol>
            <MCol Md="6">
                <MTextField @bind-Value="_shipAddressViewModel.CardSecurityCode"
                            Label="@T("SecurityCode")"
                            Placeholder="000"
                            Outlined
                            Dense></MTextField>
            </MCol>
            <MCol Md="6">
                <MTextField @bind-Value="_shipAddressViewModel.ZipCode"
                            Label="@T("ZipCode")"
                            Placeholder="@T("ZipCode")"
                            Outlined
                            Dense></MTextField>
            </MCol>
        </MRow>
        <MRow Justify="JustifyTypes.End">
            <MButton class="primary" Click="()=>SubmitOrder(context)">
                @T("PayNow")
            </MButton>
        </MRow>
    </MForm>
</MContainer>